<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <form [formGroup]="worldForm">
  <label for="selectedWorld">Select a world for the game:
    <select id="selectedWorld" formControlName="worldControl">
      <option *ngFor="let worldName of worldNames" [value]="worldName">
        {{worldName}}
      </option>
    </select>
  </label>
  <button type="button" (click)="setWorld(worldForm.controls['worldControl'].value)">Set world</button>
  <button type="button" [disabled]="worldForm.controls['worldControl'].untouched" (click)="resetWorld()">Reset world</button>
</form>
</div>
<app-world
  [currentWorld]="data"
  [stepsTaken]="numberOfSteps"
  (update)="onStep()">
</app-world>
